body {
    background-color: darkslategrey;
}

.navigation {
    margin: 10px;
}

.navigation > a {
    color: lightcoral;
    padding-right: 30px;
}

.details_button {
    background-color: goldenrod;
}

.video_list_link {
    color: lightseagreen;
}